* {
  font-family: "Consolas", "Courier New", monospace;
}

.title {
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 4rem;
  text-align: center;
  margin-top: 200px;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.typewriter {
  animation: typewriter 1.5s steps(13) 1s 1 normal both,
    blinkTextCursor 700ms steps(13) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 14.3em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.background {
  transform: translateZ(-20px) scale(3.1);
}

.foreground {
  transform: translateZ(-9.9px) scale(2);
}

section {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.job {
  color: silver;
  text-decoration: none;
  transition: 1s ease;
}

.job:hover {
  color: white;
  text-shadow: 1px 0 10px #04aa6d;
  transition: color 0.5s ease;
}

.job:active {
  color: #20b2aa;
}

p {
  margin-left: 15px;
  margin-right: 15px;
}

.p1,
.p2,
.p3,
.p4 {
  display: inline-block;
  justify-content: center;
  border: #ddd solid 1px;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  width: 20vw;
  opacity: 0.8;
  transition: 0.5s ease;
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: 0.5s ease;
}

h6 {
  font-size: 22px;
  text-align: center;
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  width: 20vw;
  height: 20vh;
}

.description {
  font-size: 18px;
  margin-top: 20px;
}

body {
  margin: 0;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 20px 0;
  /* border-bottom: 3px solid #dfdfdf; */
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 1rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background: linear-gradient(rgb(233, 233, 233), white, rgb(22, 22, 22));
  border: 1px solid lightcoral;
  color: black;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: black;
  border-color: lightcoral;
  min-width: 300px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="submit"]:active {
  background: linear-gradient(rgb(22, 22, 22), white, rgb(233, 233, 233));
}
