* {
    font-family: "Consolas", "Courier New", monospace;
  }
   
h1 {
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  body {
    background-color: #333;

  }

  .center, form {
    /* border: 5px solid; */
    text-align: center;
  }

  input {
    width: 200px;
    height: 50px;
    font-size: 30px;
    background: linear-gradient(rgb(233, 233, 233), white, rgb(22, 22, 22));
    border: 1px solid lightcoral;
  color: black;
  }

  input:active {
    background: linear-gradient(rgb(22, 22, 22), white, rgb(200, 200, 200));
    border: 3px solid lightcoral;
  }